* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
  background-color: hwb(180 20% 40% / 0.954);
}
.container1 {
  width: 250px;
  height: 250px;
}
.container2 {
  width: 250px;
  height: 250px;
}
.container3 {
  width: 250px;
  height: 250px;
}
.container4 {
  width: 250px;
  height: 250px;
}
